@media all and (max-width:768px){
    .navbar-collapse
    { 
        float: none;
        text-align: center;
        background-color:#f2f2f2;
    }
    
    .divider{
        display:none;
    }
    .infobar
    {
        display:none;
    }
    .mobileonly{
        display: block!important;
    }
    .topmenu {
        border-top-right-radius: 0; 
        border-bottom-right-radius: 0; 
    }
    .mobilehide{
        display:none;
    }
    .userform{
        width:100%;
    }
    .ucform{
        margin-top: 0;
    }
    .ucform .right-text {
        text-align: center;
    }
    .sbuttons a{
        text-align: center;
        margin: 0px auto;
    }
    .bodymargin{
        margin-top:70px;
    }
    .nav{
        padding-left: 0;
    }
    .homeform div{
        padding:5px 0;
    }
    #navbar{
        height:70px;
    }
    #myNav{
        display: none;
    }
    .page-top{
        display:none;
    }
    .navbar-toggle{
        margin-top:16px;
        margin-right:30px;
    }

    #homepage{
        margin-top: 70px;
        height:400px;
    }
    .homepage-header{
        width:100%;
        padding-top: 70px;
    }
    .row-padding .col-md-4{
        padding-top:5px;
    }
    #myNav a{
        color:gray;
    }
    .foot{
        text-align: center;
    }
    .right, .left{
        float:none;
    }
    #myNav .active>a{
        color:brown;
    }
    .navbar-brand.mobileonly{
        margin-top: 7px;
    }
    .cat-row{
        min-height: 40px;
        height:auto;
        padding:10px;
        overflow:hidden;
    }
    #myCarousel{
        display: none;
    }
    .contact h1,h2{
        font-size:17px;
    }
}
@media all and (min-width:768px){
    .nopadding{
    padding-left:0;
}
}
@media all and (min-width:1200px){

    .container{
        width:100%;
    }
    .row{
        width:1024px;
        margin:auto;
    }

}

