*{
    outline:none;
}
body{

    font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:black;
}
.row-padding{
	margin-top:20px!important;
}
.footer-icons{
	width:50px;
}	
.page-top{
    height:35px;
    background:#444444;
    width:100%;
}
.row h3{
    padding-left:20px;
}
a{
    text-decoration: none;
}
.clear{
    clear:both;
}
a:hover{
    color:brown;
}
.cat-row{
    padding:20px 0;
}
.cat p{
    color:black;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
.borderbottom{
   margin: 0px 15px 20px 15px;
   border-bottom: 4px solid #2D5E50;
}
.btn {
    font-size:18px;
}

.padtb{
    padding-top: 10px;
    padding-bottom: 10px;
}
.bodymargin{
    margin-top:140px;
    min-height:400px;
    overflow:hidden;
}
.mobileonly{
    display: none!important;
}
.error{
     display: none;
    padding:10px;
}
.homeform{
    margin:30px auto!important;
}
.homeform .form-control{
    height:40px;
}
.bazaarit{
    background: #F39C11;
    padding-right: 25px;
    padding-left: 25px;
    color:white;
}
.carousel-caption{
    color: yellow;
    font-size: 24px;
    top: 200px;
}
.cat{
    padding-left:10px;
}

.quicklinks{
    padding-left:10px;
}
.quicklinks li a{
    font-size: 16px;
    color:white;
    padding-left:10px;
    padding-right:10px;

}
section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

h1, h2, h3, h4, h5, h6 {
    color:  #115668;
    text-transform: uppercase;
    
    font-weight: 700;
}
ol, ul{
    margin-bottom: 0;
}
/*homepage header*/
#homepage{
    margin-top: 110px;
    height:700px;
    background:url('/ci/assets/images/homepage.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    background-size: cover;
}

.homepage-header{
    width:50%;
    margin:0px auto;
    padding-top: 150px;
    color:white;
}
.homepage-header h1{
    color:white;
    font-size:48px;
    text-align: center;
}
.homepage-header h3{
    color:white;
    text-align: center;
}
.center{
    margin:15px auto;
    text-align: center;
}
.homepage-header a{
    background:white;
}
.userform .form-control{
    background:#F5d197;
}

#toTopHover {
    display: block;
    overflow: hidden;
    float: left;
    opacity: 0;
}

.to-top-container{
    display:none;
}
/*Login page*/
.ucform{
    background: #F5d197;
    min-height: 10px;
    margin-top: 25px;
    overflow: hidden;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-bottom: 50px;
}
.loginbody{
     padding-bottom: 50px;
    background:#F4E4CE;
    min-height: 100px;
    height:auto;

    padding-top: 40px;
    overflow: hidden;
}
.right-text{
    text-align: right;
    color:black;
}
.userform{
    width:85%;
}
.userform input{
    border-radius: 8px;
    height:45px;
}
.userform input[type='submit']{
      background: #F39C11;
      color:black;
}
.userform input[type='checkbox']{
     height:10px;
}
.divider{
    color:black;
}


a, a:link, a:visited, a:active, a:hover {border:0!important;
    text-decoration: none !important;
}
a.toplog{
    border-right:1px solid black!important;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:8px;
}

.topmenu{
    background: #F39C11;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.team-member{
    text-align: center;
}
/* ---------- Navigation bar ------------*/
.infobar {
    background:white;
    height:90px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}
.navbar-brand{
    padding:5px;
}
.logininfo{
    padding:5px;
    line-height: 40px;
}
.left{
    float:left;
}
.right{
    float:right;
}
.infobar ul{
    padding-left:0;
    margin-left:0;
    margin-bottom: 0;
}

.infobar ul li{
    display: inline-block;
    color:white;padding-right:10px;
    line-height: 40px;
    font-weight: 600;
}
.infobar ul li a,.infobar ul li a:hover{
    color:white;
    text-decoration: none;
}
.ads{
    padding:5px 20px;
    background:#2D5E50;
    border-radius: 10px;
    line-height: 40px;
    height:50px;
      color: white;
    font-size: 18px;
    position: relative

}
.free{
  height: 0;
  width: 0;
  color: black;
  line-height: 4;
  position: absolute;
  border-right: 90px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 50px solid #F39C11;
  top: -50px;

}

.navbar-default .navbar-nav>li>a{
    padding-top:0;
    padding-bottom: 0;
    line-height: 50px;
    font-size: 18px;
    background:none;
    box-shadow: none;
    color: black;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background-color: #2D5E50;
  background-image: none;
}
#logo{
    font-family: 'Roboto Condensed', sans-serif;
}
#top-holder {
   margin-top:-26px;
}
.top-icons{
   float:right;
}
.img-layout {
    width:100%;
}
.navbar-brand{
    font-size:24px;
    line-height: 45px;
    font-weight: 900;
    background:url('../images/logo.png');
}
.navbar-toggle{
    margin-top:30px;
}
.navbar-nav>li {
    font-size: 18px;
    font-weight: 500;
}
.nav{
    z-index: 9;
}
.nav li .active{
    background-color: #080808;
}

/*end of navigation*/
.team-member>img{
    margin: 0 auto;
    height:220px;
    border: 7px solid #fff;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
#contact{
    background:url('../images/map.png');
    background-position: 100%;
    background-size:cover;

}
.btn-xl {
    padding: 20px 40px;
    border-color: #fed136;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}
.navbar-default{
    background:none;
    border:none;
    box-shadow: none;
    background-image:none;
}
#logo{
    color:white;
}
.nav li {

}
.clearfix{
    height: 100px;
}
footer{
    background:#3B454E;
    padding-top:25px;
    color:white;
}
.foot{
   padding-bottom: 15px;
}
.bordertop{
    border-top:1px solid white;
}
footer .fa{
     font-size: 1.5em!important;
}
.fa{
   
    color:white!important;
}
/*Social buttons*/
.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding-left:0;padding-right:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}


/*PROFILE PAGE CSS*/
.profilemenu{
    border-bottom: 2px solid #ddd;
    padding-top: 30px;
}
.profiletabs li.active{
    background:none;
    border-bottom: none;
}
.profiletabs li{
    padding:10px 20px;
    background:#2D5E50;
    border-top-left-radius: 5px;
    border:1px solid #2D5E50;
    border-bottom: none;
    border-top-right-radius: 5px;
    color:white;
}
.profiletabs li a{
    color:white;
    font-size: 18px;
}
.profiletabs li.active a{
    color:black;
}
.pad10{
    padding:10px;
}
.noshow{
    
    padding:5px 10px;
    font-size:1.5em;
    display: none;
}
.stats{
    margin-top:20px;
    border:2px solid #ddd;
    border-radius: 5px;
    min-height: 30px;
    overflow: hidden;
}
.stats div{
    text-align: center;
    
}
fieldset .right-text{
    padding-right:0;
}
.profile-group{
 background:#e2e2e2;
   margin: 10px auto!important;
   border-radius:5px;
}

/*PROFILE PAGE CSS END*/